<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FACE_RECOGNITION_BASED_ATTENDANCE_APP"
        tools:targetApi="31">
        <activity
            android:name=".Dashboard.Attendance_Record"
            android:exported="false" />
        <activity
            android:name=".Dashboard.Add_face"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.ActivitySplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity
            android:name=".Welcome.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Login_Signup.ActivityLogin"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login_Signup.ActivitySignup"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Dashboard.ActivityMainDashboard"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </application>

</manifest>